
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        My service prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This prototype has been designed as part of my application to DTX.
      </p>

      <p>
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>        The prototype is intended to show a potential user interface for a 'Compare My Integrated Health System tool.'
</p>

      <p>Due to time constraints, graphs included are indicative approaches, rather than actual data.</p>

      <form class="form" action="/start" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue to tool</button>

    </div>
  </div>

{% endblock %}
